header, main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.done {
    text-decoration: line-through;
    color: grey;
}

.undone {
    text-decoration: none;
    color: black;
}
